body {
  align-items: center;
}

* {
  box-sizing: border-box;
}

.main {
  border: 2px solid rgb(219, 212, 212);
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 700px;
  font-family: sans-serif;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
}

.content h1 {
  margin: 10px 0;
  font-size: 34px;
  line-height: 45px;
  color: #172b4d;
  font-weight: bold;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.content p {
  color: #344563;
  line-height: 24px;
  font-size: 20px;
}

.content button {
  color: #396df2;
  background-color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 130px;
  height: 50px;
  left: 12px;
  top: 12px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1.2px solid #396df2;
}

.header img {
  padding: 20px 20px 0 20px;
  margin-top: 0;
  height: 280px;
  width: 370px;
}

.Inner-Content1 {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
}

.Inner-Content1 h3 {
  font-size: 20px;
  color: #344563;
  font-weight: 600;
  margin: 0;
}

.Inner-Content1 p {
  color: #7a869a;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin: 0;
}

.Inner-Content2 li {
  display: inline;
  text-decoration: none;
  margin-top: 10px;
}

.Inner-Content2 ul {
  display: flex;
  column-gap: 10px;
  padding: 0;
}

a {
  text-decoration: none;
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  align-items: center;
  padding: 5px 13px;
  margin: 0;
  font-size: 16px;
}
