body {
  align-items: center;
  text-align: center;
}

* {
  font-family: "Poppins", sans-serif;
}

.work_section {
  display: grid;
  grid-template-columns: auto;
  row-gap: 100px;
  width: 420px;
  height: auto;
  margin-left: calc(50% - 160px);
  background-color: #f7f7f9;
  justify-content: center;
  text-align: left;
}

.main_logo {
  margin: auto;
  margin-top: 20px;
  width: 375px;
  height: 718px;
  background: #fff;
}

.header {
  display: flex;
  justify-items: baseline;
  height: 5vh;
  justify-content: space-between;
}

.header nav {
  background: white;
  padding: 0;
  width: 24px;
  height: 18px;
  margin: 30px 35px;
  border: white;
}

.header a {
  position: static;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  left: 12px;
  top: 10px;
  color: #6070ff;
  margin: 30px 35px;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("/img/header-shapes-mobile.svg");
  height: 588px;
  padding: 85px 20px 0 16px;
}

.content h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #172b4d;
  width: 350px;
  margin-bottom: 20px;
}

.content h6 {
  color: #344563;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.content h3 {
  color: #7f8cff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 170px;
  text-align: left;
  padding-right: 25px;
}

.social_img {
  display: flex;
  column-gap: 20px;
}

.social_img img {
  width: 25px;
  height: 25px;
  padding-top: 0;
}

nav:hover {
  color: rgb(4, 4, 63);
  transform: scale(1.5);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

.main1 {
  border: 2px solid rgb(219, 212, 212);
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 700px;
  font-family: sans-serif;
  background: #fff;
}

.content1 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
}

.content1 h1 {
  margin: 10px 0;
  font-size: 34px;
  line-height: 45px;
  color: #172b4d;
  font-weight: bold;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.content1 p {
  color: #344563;
  line-height: 24px;
  font-size: 20px;
}

.content1 button {
  color: #396df2;
  background-color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 130px;
  height: 50px;
  left: 12px;
  top: 12px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1.2px solid #396df2;
}

.header1 img {
  padding: 20px 20px 0 20px;
  margin-top: 0;
  height: 280px;
  width: 370px;
}

.Inner-Content1 {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
}

.Inner-Content1 h3 {
  font-size: 20px;
  color: #344563;
  font-weight: 600;
  margin: 0;
}

.Inner-Content1 p {
  color: #7a869a;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin: 0;
}

.Inner-Content2 li {
  display: inline;
  text-decoration: none;
  margin-top: 10px;
}

.Inner-Content2 ul {
  display: flex;
  column-gap: 10px;
  padding: 0;
}

.Inner-Content2 a {
  text-decoration: none;
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  align-items: center;
  padding: 5px 13px;
  margin: 0;
  font-size: 16px;
}

.main2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 375px;
  background: #fff;
}

.content2 {
  display: flex;
  flex-direction: column;
  
  /* height: 588px; */
  padding: 85px 20px 0 16px;
}

.content2 h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #172b4d;
  width: 100px;
  margin-bottom: 20px;
}

.content2 button {
  color: #396df2;
  background-color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 160px;
  height: 50px;
  left: 12px;
  top: 12px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1.2px solid #396df2;
}

.content2 h6 {
  color: #344563;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.content2 h3 {
  color: #7f8cff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 160px;
  text-align: left;
  padding-right: 25px;
}

.accordian1 ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.accordian1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 0;
}

.accordian1 .link1,
.link2,
.link3 {
  box-sizing: border-box;
  text-align: left;
  background-color: white;
  
  /* border: none;
  border-bottom:2px solid rgb(173, 169, 169); */
  
  height: auto;
  width: auto;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 20px 28px 10px 16px;
}

.link2,
.link3 {
  border-bottom: 1.2px solid rgb(173, 169, 169);
  padding-bottom: 30px;
}

.panel {
  height: 240px;
  display: grid;
  font-size: 18px;
  grid-template-rows: auto auto auto;
  align-items: baseline;
  row-gap: 10px;
  width: 280px;
  padding: 5px 0 0 16px;
  overflow: hidden;
}

.panel li {
  display: grid;
  grid-template-columns: 60px 160px;
  align-items: center;
  border-radius: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #253858;
  background: #f7f7f9;
  padding: 5px 40px 5px 5px;
}

.icon {
  margin-left: 160px;
}

.icon2 {
  margin-left: 155px;
}

.icon3 {
  margin-left: 230px;
}
.footer {
  margin: auto;
  width: 375px;
  height: 775px;
  text-align: center;
  background: url("./img/contact-form-background.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 100px;
}

.content_footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
}

.content_footer h1 {
  margin-top: 50px;
  font-size: 45px;
  color: white;
  line-height: 54px;
}

.content_footer p {
  color: #ebebff;
  line-height: 24px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 10px;
  width: 300px;
  padding: 30px;
}

input {
  height: 50px;
  border-radius: 8px;
  font-size: 17px;
  width:300px;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

button {
  width: 160px;
  height: 50px;
  background: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  color: #6070ff;
  font-size: 18px;
  text-align: center;
  border: 0;
}

button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: #fff;
  background: #2230d2;
}

textarea {
  border-radius: 8px;
  font-size: 16px;
}