* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #091e42;
}

.page {
  display: grid;
  background-color: #e5e5e5;
}

.home {
  background-image: url(./img/Header-bg.svg);
  border-bottom-left-radius: 20%;
  background-color: white;
  height: 846px;
  display: flex;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
  background-color: white;
  padding: 2%;
}

.my_logo {
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  font-weight: bold;
}

.nav_bar ul {
  display: flex;
  text-align: right;
  list-style: none;
  margin-left: 40vw;
  column-gap: 10%;
}

.link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  padding: 0.3em;
}

.link:hover {
  transition: font-size 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.menu_bar {
  display: none;
}

.inner_content_button li {
  font-weight: 500;
  font-size: 12px;
  width: auto;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #0017eb;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 2% 5%;
}

.panel li {
  font-weight: 500;
  font-size: 20px;
  width: 25%;
  height: auto;
  justify-content: center;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  color: #344563;
  background: #f7f7f9;
  padding: 0.5em;
}

.nav_bar .link:hover {
  font-size: 18px;
  color: #fff;
  background-color: #6070ff;
  padding: 3%;
  border-radius: 0.8em;
}

.linkimg {
  width: 70%;
}

.nav_bar img {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  margin: 20% 20%;
}

.main h1,
h2 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.37px;
  color: #091e42;
  margin-bottom: 5%;
  animation: typing 3s steps(200, end);
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.main .about_h4 {
  width: 100%;
}

.main p {
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-top: 0;
}

.main h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0017eb;
  margin-top: 0;
}

form button {
  width: 45%;
  padding: 3%;
  border-radius: 0.7em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #0017eb;
  border: 0;
  transition: background-color 500ms ease-in;
  transition: border-radius 500ms ease-in;
  transition: color 500ms ease-out;
}

.main button {
  background: #fff;
  border: 1px solid#0017EB;
  text-align: center;
  width: 53%;
  padding: 2%;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #396df2;
  border-radius: 0.7em;
  transition: background-color 500ms ease-in;
  transition: border-radius 500ms ease-in;
  transition: color 500ms ease-out;
}

form button:hover {
  background: #6070ff;
  color: #fff;
  border-radius: 2em;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

form button:active {
  color: #fff;
  background: #2230d2;
}

.main button:hover {
  background: #6070ff;
  color: #fff;
  border-radius: 2em;
}

.social_img {
  display: flex;
  column-gap: 1.5em;
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.portfolio_work,
.portfolio_work1 {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2%;
  margin: 10% 10%;
  padding: 3%;
  border-radius: 2em;
}

.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 5%;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.content p {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.button {
  background: #fff;
  border: 1px solid#0017EB;
  text-align: center;
  width: 40%;
  padding: 3% 1%;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #0017eb;
  border-radius: 1em;
  transition: background-color 500ms ease-in;
  transition: border-radius 500ms ease-in;
  transition: color 500ms ease-out;
}

.botton:hover {
  background-color: #6070ff;
  border-radius: 2em;
  color: white;
}

.inner_content_button ul {
  display: flex;
  column-gap: 3%;
  padding-left: 0;
  list-style: none;
  line-height: 24px;
  color: #6b778c;
  margin-top: 0.5em;
}

.inner_content {
  display: flex;
  flex-flow: wrap;
  column-gap: 3%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.inner_content p {
  color: #6b778c;
}

.inner_content h3 {
  margin-top: 0.7em;
}

.about_me {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #172b4d;
  background-color: white;
  border-top-right-radius: 10em;
}

.accodian {
  display: flex;
  flex-direction: column;
  padding: 10%;
  row-gap: 4em;
  margin-top: 32%;
}

.link1 {
  flex-direction: column;
}

.link1,
.link2,
.link3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  color: #344563;
}

.link2,
.link3 {
  border-bottom: 1px solid rgb(179, 174, 174);
  padding-bottom: 5%;
}

.panel {
  display: flex;
  column-gap: 1em;
  list-style: none;
  padding-left: 0;
}

span {
  width: 100%;
  text-align: right;
  margin-right: 3.5em;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  background-image: url("./img/contact-desktop-bg.svg");
  padding: 10%;
  border-top-left-radius: 10em;
}

.content_footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content_footer h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  color: #fff;
}

.content_footer p {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 0;
}

form {
  display: grid;
  justify-items: center;
  row-gap: 5%;
  width: 50%;
  margin-top: 3%;
}

form input {
  text-align: left;
  width: 85%;
  padding: 3% 5%;
  font-size: 17px;
  line-height: 20px;
  border-radius: 0.6em;
  color: #172b4d;
}

form textarea {
  color: #353b45;
  text-align: left;
  background-color: #fff;
  width: 85%;
  padding: 4% 5%;
  font-size: 17px;
  line-height: 20px;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

@media only screen and (min-width: 992px) {
  form button {
    width: 48%;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  .menu_bar {
    display: none;
  }

  .button {
    width: 35%;
    padding: 2%;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  .button:hover {
    background-color: #6979ff;
    border-radius: 2em;
    color: #fff;
  }
}

@media only screen and (max-width: 992px) {
  .portfolio_work,
  .portfolio_work1 {
    padding: 1%;
    column-gap: 1%;
  }

  .work img {
    border-radius: 1em;
    object-fit: cover;
  }

  form button {
    width: 48%;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  .main button {
    width: 66%;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  form button:hover {
    background: #0017eb;
    color: #fff;
    border-radius: 2em;
    box-shadow: 0 8px 16px;
  }

  form button:active {
    color: #fff;
    background: #2230d2;
  }

  .main button:hover {
    background: #6070ff;
    color: #fff;
    border-radius: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    background-image: url(./img/header-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav_bar .link {
    display: none;
  }

  .nav_bar img {
    display: block;
    margin-left: 60%;
    width: 30%;
  }

  .my_logo {
    font-size: 22px;
  }

  .visible {
    display: block;
  }

  .invisible {
    display: none;
  }

  .menu_bar {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(96, 112, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .menu_bar_content {
    text-align: left;
    margin-top: 12%;
  }

  .menu_bar #btn-header {
    position: absolute;
    top: 8%;
    right: 10%;
    font-size: 30px;
    border: 0;
    background-color: rgba(96, 112, 255, 0);
    color: white;
  }

  .menu_bar li,
  a {
    list-style: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    left: 0;
    padding: 0.3em;
    color: #fff;
  }

  .menu_bar .link a:hover {
    color: #f1f1f1;
  }

  .menu_bar_header {
    width: 100%;
    text-align: right;
    padding: 1%;
  }

  .portfolio_work {
    display: flex;
    flex-direction: column;
    column-gap: 2%;
    padding: 3%;
    border-radius: 2em;
  }

  .portfolio_work1 {
    display: flex;
    flex-direction: column-reverse;
    column-gap: 2%;
    padding: 3%;
    border-radius: 2em;
  }

  .about_me {
    display: flex;
    flex-direction: column;
  }

  .main {
    margin: auto;
    padding: 10% 5%;
    width: 100%;
  }

  form button {
    margin-left: 0;
    width: 45%;
    border: 0;
    background: #fff;
    font-size: 18px;
    text-align: center;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  .main button {
    width: 50%;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  form button:hover {
    background: #0017eb;
    color: #fff;
    border-radius: 2em;
    box-shadow: 0 8px 16px;
  }

  .main button:hover {
    background: #6070ff;
    color: #fff;
    border-radius: 2em;
  }

  .main h1 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(200, end);
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  .main .about_h4 {
    width: 100%;
  }

  .accodian {
    margin-top: 0;
    padding-top: 0;
  }

  .link1,
  .link2,
  .link3 {
    height: auto;
    width: auto;
    font-size: 26px;
    line-height: 24px;
    font-weight: bold;
    color: black;
  }

  .panel {
    display: grid;
    font-size: 18px;
    grid-template-rows: auto auto auto;
    row-gap: 0.8em;
    width: 90%;
  }

  .panel li {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    border-radius: 1em;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    color: #253858;
    background: #f7f7f9;
  }

  .panel img {
    width: 70%;
    padding-top: 0%;
  }

  span {
    width: 100%;
    text-align: right;
    margin-right: 2em;
  }

  .contact {
    padding: 3%;
    margin: auto;
    background: url("./img/contact-form-background.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: #6070ff;
  }

  .content_footer p {
    padding-left: 8%;
    padding-right: 8%;
    font-size: 24px;
    margin: 0;
  }

  form {
    justify-items: left;
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 3%;
    width: 100%;
    padding-left: 10%;
    margin-bottom: 10%;
  }

  .button {
    padding: 2%;
    width: 40%;
    transition: background-color 500ms ease-in;
    transition: border-radius 500ms ease-in;
    transition: color 500ms ease-out;
  }

  .button:hover {
    background-color: #6979ff;
    border-radius: 2em;
    color: #fff;
  }

  textarea {
    border-radius: 8px;
    font-size: 16px;
  }
}
